<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_assinantes_path %>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.dashboard'), dashboards_assinantes_path %>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.vehicles'), dashboards_assinantes_veiculos_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.subscribers.add_photos') %>
      </li>
    </ol>
  </nav>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <h3>
      <b><%= t('.license_plate', license_plate: @vehicle.license_plate) %></b>
    </h3>
    <hr>
    <%= form_with scope: 'vehicle', url: dashboards_assinantes_veiculos_upload_photos_path do |f| %>
      <div class="form-group">
        <label><%= t('.vehicle_photo') %></label>
        <%= f.file_field :photos,
                         multiple: true,
                         class: 'form-control medium-fields',
                         required: true %>
      </div>
      <br>
      <%= f.submit t('.send_photos_btn'),
                   class: 'btn btn-primary btn-sm' %>

      <%= f.hidden_field :id, value: @vehicle.id %>
    <% end %>
  </div>
</div>
<%= render './././partials/footer' %>
