<%= render './././partials/header' %>                                                                                                                                                     
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './partials/messages' %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_representantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.sellers.dashboard'), dashboards_representantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.sellers.informations'), dashboards_representantes_informacoes_pessoais_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.sellers.banking'), dashboards_representantes_informacoes_pessoais_dados_bancarios_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.sellers.edit') %>
      </li>
    </ol>
  </nav>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <div>
      <h4 class="form-subtitle">
        <%= t('.subtitle') %>
      </h4>
    </div>
    <hr>
    <%= form_with scope: @seller, url: dashboards_representantes_informacoes_pessoais_dados_bancarios_create_path, method: :put do |f| %>
      <div class="form-group form-check">
        <b><span><%= t('.favored') %></span></b>
        <%= @seller.name %>
      </div>
      <div class="form-group form-check">
        <b><span><%= t('.document') %></span></b>
        <%= @seller.document %>
      </div>
      <div class="form-group">
        <label><%= t('.bank_name') %></label>
        <br>
        <%= f.select :bank,
                     options_for_select(bank_list,
                                        selected: @seller.bank.compe_register),
                     {},
                     class: 'form-control',
                     required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.agency') %></label>
        <%= f.text_field :agency,
                         value: @seller.account.agency,
                         class: 'form-control short-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.account') %></label>
        <%= f.text_field :account,
                         value: @seller.account.number,
                         class: 'form-control short-fields',
                         required: true %>
      </div>
      <hr>
      <%= f.submit t('.update_data_btn'),
                   class: 'btn btn-primary small-fields' %>
    <% end %>
    <br>
    <br>
    <br>
  </div>
</div>
<%= render './././partials/footer' %>
