<%= render './././partials/header' %>                                                                                                                                                     
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './partials/messages' %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_representantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.sellers.dashboard'), dashboards_representantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.sellers.informations'), dashboards_representantes_informacoes_pessoais_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.sellers.banking') %>
      </li> 
    </ol>
  </nav>
  <% unless @seller.account.present? %>
    <div class="alert alert-warning" role="alert">
      <%= t('messages.warning.seller_account_missing') %>
    </div>
  <% end %>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <% if @seller.account.present? %>
      <h4>
        <b>
          <%= t('.seller_code') %>
          <%= @seller.code %>
        </b>
      </h4>
      <hr>
      <div>
        <h4 class="form-subtitle">
          <%= t('.subtitle') %>
        </h4>
      </div>
      <hr>
      <div class="form-group form-check">
        <b><span><%= t('.bank_name') %></span></b>
        <%= @seller.bank.name %>
      </div>
      <div class="form-group form-check">
        <b><span><%= t('.bank_compe') %></span></b>
        <%= @seller.bank.compe_register %>
      </div>
      <div class="form-group form-check">
        <b><span><%= t('.agency') %></span></b>
        <%= @seller.account.agency %>
      </div>
      <div class="form-group form-check">
        <b><span><%= t('.number') %></span></b>
        <%= @seller.account.number %>
      </div>
      <hr>
      <%= link_to t('.edit_account_data_btn'),
                    dashboards_representantes_informacoes_pessoais_dados_bancarios_editar_path,
                    class: 'btn btn-primary short-fields' %>
    <% else %>
      <%= link_to t('.add_account_btn'),
                    dashboards_representantes_informacoes_pessoais_dados_bancarios_adicionar_path,
                    class: 'btn btn-primary short-fields' %>
    <% end%>
    <br>
    <br>
    <br>
  </div>
</div>
<%= render './././partials/footer' %>
