<%= render './partials/header' %>
<div class="rows">
  <div id="camera-dashboard" class="col-sm-offset-2 col-sm-8">
    <div class="dashboard-logout">
      <%= link_to t('.logout'), cameras_dashboards_motoristas_logout_path, class: 'dashboard-logout-link' %>
    </div>
    <br>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to t('breadcrumbs.cameras.dashboards.driver.login'), cameras_dashboards_motoristas_login_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <%= t('breadcrumbs.cameras.dashboards.driver.dashboard') %>
        </li>
      </ol>
    </nav>
    <%= render './partials/messages' %>
    <h3><%= t('.drivers') %></h3>
    <hr>
    <div>
      <div class="dashboard-icon">
        <%= link_to cameras_dashboards_motoristas_transmissao_path do %>
          <%= image_tag 'camera.png', class: 'dashboard-icon-image' %>
        <% end %>
      </div>
      <div class="dashboard-icon">
        <%= link_to cameras_dashboards_motoristas_qrcode_path do %>
          <%= image_tag 'qrcode.png', class: 'dashboard-icon-image' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render './partials/footer' %>
