<div class="container">
  <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
    <%= render './partials/messages' %>
    <%= render './partials/information_rule', current_step: Hiring::STEPS[:finalization] %>
    <br><br>
    <div id="success_message" class="alert alert-success" role="alert">
      <h3 class="alert-heading"><%= t('.congratulations') %></h3>
      <hr>
      <h4>
      <p><%= t('checkout.finalization.thanks_message', plan_name: session[:plan]['name']) %></p>
      <br>
      <p><%= t('checkout.finalization.credit_card.sent_email_message', email: session[:subscriber]['email']) %></p>
      <br>
      <p><%= t('checkout.finalization.welcome_message') %></p>
      </h4>
      <hr>
      <p class="mb-0"><%= t('.team') %></p>
    </div>
  </div>
</div>
