<div class="container">
  <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12'>
    <%= render './partials/messages' %>
    <%= render './partials/information_rule', current_step: Hiring::STEPS[:identification] %>
    <div>
      <h3 class="form-title">
        <%= t('.title') %>
      </h3>
      <hr>
    </div>
    <div>
      <%= form_with scope: 'new_subscriber', url: checkout_subscriber_info_path do |f| %>
        <div>
          <h4 class="form-subtitle">
            <%= t('.subtitle.personal_data') %>
          </h4>
        </div>
        <hr>
        <div class="form-group form-check">
          <label><%= t('.category') %></label>
          <br>
          <%= f.radio_button :kind,
                             'PJ',
                             class: 'form-check-input',
                             checked: true %>
          <%= f.label t('.pj'),  class: 'form-check-label' %>
          <%= f.radio_button :kind,
                             'PF',
                             class: 'form-check-input' %>
          <%= f.label t('.pf'), class: 'form-check-label' %>
        </div>
        <div class="form-group">
          <label id="name_lbl"><%= t('.name') %></label>
          <%= f.text_field :name,
                           class: 'form-control',
                           required: true %>
        </div>
        <div id="responsible-info">
          <div class="form-group">
            <label><%= t('.responsible_name') %></label>
            <%= f.text_field :responsible_name,
                             class: 'form-control' %>
        </div>
        <div class="form-group">
          <label><%= t('.responsible_cpf') %></label>
          <%= f.text_field :responsible_cpf,
                           class: 'form-control medium-fields' %>
        </div>
        </div>
        <div class="form-group">
          <label id="doc_lbl"><%= t('.document') %></label>
          <%= f.text_field :document,
                           class: 'form-control medium-fields',
                           required: true %>
        </div>
        <br>
        <div>
          <h4 class="form-subtitle">
            <%= t('.subtitle.address') %>
          </h4>
        </div>
        <hr>
        <div class="form-group">
          <label><%= t('.postal_code') %></label>
          <%= f.text_field :postal_code,
                           class: 'form-control short-fields',
                           required: true %>
        </div>
        <div class="form-group">
          <label><%= t('.address') %></label>
          <%= f.text_field :address,
                           class: 'form-control',
                           required: true %>
        </div>
        <div class="form-group">
          <label><%= t('.number') %></label>
          <%= f.text_field :number,
                           class: 'form-control short-fields',
                           requred: true %>
        </div>
        <div class="form-group">
          <label><%= t('.complement') %></label>
          <%= f.text_field :complement,
                           class: 'form-control' %>
        </div>
        <div class="form-group">
          <label><%= t('.district') %></label>
          <%= f.text_field :district,
                           class: 'form-control',
                           required: true %>
        </div>
        <div class="form-group">
          <label><%= t('.city') %></label>
          <%= f.text_field :city,
                           class: 'form-control',
                           required: true %>
        </div>
        <div class="form-group">
          <label><%= t('.state') %></label>
          <br>
          <%= f.select :state,
                       options_for_select(States.all_names),
                       { include_blank: ''},
                       class: 'form-control medium-fields',
                       required: true %>
        </div>
         <br>
        <div>
          <h4 class="form-subtitle">
            <%= t('.subtitle.contact') %>
        </h4>
        </div>
        <hr>
        <div class="form-group">
          <label><%= t('.telephone') %></label>
          <%= f.text_field :telephone,
                           class: 'form-control medium-fields',
                           requireed: true %>
        </div>
        <div class="form-group">
          <label><%= t('.cellphone') %></label>
          <%= f.text_field :cellphone,
                           class: 'form-control medium-fields',
                           required: true %>
        </div>
        <div class="form-group">
          <label><%= t('.email') %></label>
          <span id ="invalid_email_message" class="error-messages observation-fields hidden-messages">
            <%= t('messages.errors.invalid_format') %>
          </span>
          <%= f.text_field :email,
                           class: 'form-control',
                           required: true %>
        </div>
        <br>
        <div>
          <h4 class="form-subtitle">
            <%= t('.subtitle.access') %>
          </h4>
        </div>
        <hr>
        <div class="form-group">
          <label><%= t('.user') %></label>
          <span class="observation-fields"><%= t('.user_obs') %></span>
          <span id="unavailable_user" class="hidden-messages error-messages">
            <%= t('messages.errors.unavailable_user') %>
          </span>
          <span id="available_user" class="hidden-messages success-messages">
          <%= t('messages.successes.available_user') %>
          </span>
          <%= f.text_field :user,
                           class: 'form-control short-fields',
                           required: true %>
        </div>
        <div class="form-group">
          <label><%= t('.password') %></label>
          <span class="observation-fields"><%= t('.password_obs') %></span>
          <span id="fragile_password" class="hidden-messages error-messages">
            <%= t('messages.errors.fragile_password') %>
          </span>
          <span id="strong_password" class="hidden-messages success-messages">
            <%= t('messages.successes.strong_password') %>
          </span>
          <%= f.password_field :password,
                               class: 'form-control short-fields',
                               required: true %>
        </div>
        <div class="form-group">
           <label><%= t('.confirm_password') %></label>
           <%= f.password_field :confirm_password,
                               class: 'form-control short-fields',
                               required: true %>
        </div>
        <%= f.hidden_field :ip %>
        <br>
        <%= link_to t('.back_btn'), checkout_identificacao_path, class: 'btn btn-primary short-fields' %>
        <%= f.submit t('.next_step_vehicle_btn'),
                     class: 'btn btn-primary short-fields',
                     id: '#next_step_vehicle_to_new_subscriber_btn' %>
      <% end %>
    </div>
  </div>
  <hr>
</div>
