<header>
  <%= image_tag attachments['header_background.png'].url %>
</header>
<p><%= t('documents.send_document.line_1', user_name: @user.name) %></p>
<br>
<p><%= t('documents.send_document.line_2') %></p>
<br>
<p><%= t('documents.send_document.line_3') %></p>
<br>
<br>
<p><%= t('documents.send_document.line_4') %></p>
<hr>
<footer>
  <%= image_tag attachments['footer_background.png'].url %>
</footer>
