<%= render './partials/header' %>
<div class="rows">
  <div id="camera-dashboard" class="col-sm-offset-2 col-sm-8">
    <div class="dashboard-logout">
      <%= link_to t('.logout'), cameras_dashboards_angels_logout_path, class: 'dashboard-logout-link' %>
    </div>
    <br>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= link_to t('breadcrumbs.cameras.dashboards.angel.login'), cameras_dashboards_angels_login_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <%= link_to t('breadcrumbs.cameras.dashboards.angel.dashboard'), cameras_dashboards_angels_path %>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <%= t('breadcrumbs.cameras.dashboards.angel.driver') %>
        </li>
      </ol>
    </nav>
    <%= render './partials/messages' %>
    <h3><%= t('.angels') %></h3>
    <hr>
    <div id="driver-image" class="text-center">
      <%= image_tag 'driver_template.svg',  class: 'img-fluid rounded' %>
    </div>
    <br>
    <div class="text-center">
      <span>
        <%= t('.driver') %>
        <%= @driver.name %>
      </span>
      <br>
      <span>
        <%= t('.driver_license') %>
        <%= @driver.license %>
      </span/>
      <br>
      <span>
        <%= t('.member_since') %>
        <%= formatted_date(@driver.created_at) %>
      </span>
      <hr>
      <div id="rating">
        <h3>
          <%= t('.rating') %>
          <%= rate(@driver) %> 
        </h3>
      </div>
    </div>
  </div>
</div>
