<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './partials/messages' %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_representantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.dashboard'), dashboards_representantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.informations'), dashboards_representantes_informacoes_pessoais_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.subscribers.documents') %>
      </li>
    </ol>
  </nav>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <h4>
      <b>
        <%= t('.downloads') %>
      </b>
    </h4>
    <hr>
    <%= link_to t('.download_contract_btn'),
                dashboards_representantes_informacoes_pessoais_documentos_contrato_path(format: :pdf),
                target: :blank,
                class: 'btn btn-primary medium-fields' %>
    <br>
    <br>
    <% unless @seller.active? %>
      <%= link_to t('.download_distract_btn'),
                  dashboards_representantes_informacoes_pessoais_documentos_distrato_path(format: :pdf),
                  target: :blank,
                  class: 'btn btn-primary medium-fields' %>
    <% end %>
  </div>
</div>
<%= render './././partials/footer' %>
