<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"><%= t('.number') %></th>
      <th scope="col"><%= t('.subject') %></th>
      <th scope="col"><%= t('.department') %></th>
      <th scope="col"><%= t('.responsible') %></th>
      <th scope="col"><%= t('.status') %></th>
      <th scope="col"><%= t('.created_at') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tickets.each do |ticket| %>
      <tr>
        <th scope="row"><%= ticket.id %></th>
        <td><%= ticket.subject %></td>
        <td><%= ticket.department %></td>
        <td><%= ticket.responsible %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.created_at %></td>
        <td><%= link_to t('.details'), show_ticket_path(ticket.id, type: type) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
