<%= render './././partials/header' %>                                                                                                                                                     
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './partials/messages' %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_representantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.sellers.dashboard'), dashboards_representantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.sellers.informations'), dashboards_representantes_informacoes_pessoais_path %>                                                          
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.sellers.register'), dashboards_representantes_informacoes_pessoais_cadastro_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.sellers.edit') %>
      </li>
    </ol>   
  </nav>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <h3>
     <b><%= t('.title') %></b>
    </h3>
    <hr>
    <%= form_with scope: @seller, url: dashboards_representantes_informacoes_pessoais_cadastro_update_path, method: :put do |f| %>
      <div>
        <h4 class="form-subtitle">
          <%= t('.subtitle.personal_data') %>
        </h4>
      </div>
      <hr>
      <div class="form-group">
        <label><%= t('.name') %></label>
        <%= f.text_field :name,
                         value: @seller.name,
                         class: 'form-control',
                         required: true %>
      </div>
      <br>
      <div>
        <h4 class="form-subtitle">
          <%= t('subtitle.core') %>
        </h4>
      </div>
      <hr>
      <div class="form-group">
        <label><%= t('.core_register') %></label>
        <%= f.text_field :core_register,
                         value: @seller.core_register,
                         class: 'form-control medium-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.expedition_date') %></label>
        <%= f.text_field :expedition_date,
                         value: formatted_date(@seller.expedition_date),
                         class: 'form-control medium-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.expiration_date') %></label>
        <%= f.text_field :expiration_date,
                         value: formatted_date(@seller.expiration_date),
                         class: 'form-control medium-fields',
                         required: true %>
      </div>
      <br>
      <div>
        <h4 class="form-subtitle">
          <%= t('.subtitle.address') %>
        </h4>
      </div>
      <hr>
      <div class="form-group">
        <label><%= t('.address') %></label>
        <%= f.text_field :address,
                         value: @seller.address,
                         class: 'form-control',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.number') %></label>
        <%= f.text_field :number,
                         value: @seller.number,
                         class: 'form-control medium-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.complement') %></label>
        <%= f.text_field :complement,
                         value: @seller.complement,
                         class: 'form-control medium-fields' %>
      </div>
      <div class="form-group">
        <label><%= t('.district') %></label>
        <%= f.text_field :district,
                         value: @seller.district,
                         class: 'form-control',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.city') %></label>
        <%= f.text_field :city,
                         value: @seller.city,
                         class: 'form-control',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.state') %></label>
        <br>
        <%= f.select :state,
                     options_for_select(States.all_names,
                                        selected: @seller.state),
                     {},
                     class: 'form-control medium-fields',
                     required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.postal_code') %></label>
        <%= f.text_field :postal_code,
                         value: @seller.postal_code,
                         class: 'form-control medium-fields',
                         required: true %>
      </div>
      <br>
      <div>
        <h4 class="form-subtitle">
          <%= t('.subtitle.contact') %>
        </h4>
      </div>
      <hr>
      <div class="form-group">
        <label><%= t('.email') %></label>
        <%= f.text_field :email,
                         value: @seller.email,
                         class: 'form-control',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.cellphone') %></label>
        <%= f.text_field :cellphone,
                         value: @seller.cellphone,
                         class: 'form-control medium-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.linkedin_url') %></label>
        <%= f.text_field :linkedin,
                         value: @seller.linkedin,
                         class: 'form-control',
                         required: true %>
      </div>
      <br>
      <%= f.submit t('.update_data_btn'),
                   class: 'btn btn-primary small-fields' %>
    <% end %>
    <br>
    <br>
    <br>
  </div>
</div>
<%= render './././partials/footer' %>
