<%= render './././partials/header' %>                                                                                                                                                     
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './partials/messages' %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_representantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.sellers.dashboard'), dashboards_representantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.sellers.informations'), dashboards_representantes_informacoes_pessoais_path %>                                                          
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.sellers.register') %>
      </li> 
    </ol>   
  </nav>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <h4>
      <b>
        <%= t('.seller_code') %>
        <%= @seller.code %>
      </b>
    </h4>
    <hr>
    <div>
      <h4 class="form-subtitle">
        <%= t('.subtitle.personal_data') %>
      </h4>
    </div>
    <hr>
    <div class="form-group form-check">
      <b><span><%= t('.name') %></span></b>
      <%= @seller.name %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.document') %></span></b>
      <%= @seller.document %>
    </div>
    <br>
    <div>
      <h4 class="form-subtitle">
        <%= t('subtitle.core') %>
      </h4>
    </div>
    <hr>
    <div class="form-group form-check">
      <b><span><%= t('.core_register') %></span></b>
      <%= @seller.core_register %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.expedition_date') %></span></b>
      <%= formatted_date(@seller.expedition_date) %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.expiration_date') %></span></b>
      <%= formatted_date(@seller.expiration_date) %>
    </div>
    <br>
    <div>
      <h4 class="form-subtitle">
        <%= t('.subtitle.address') %>
      </h4>
    </div>
    <hr>
    <div class="form-group form-check">
      <b><span><%= t('.address') %></span></b>
      <%= @seller.address %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.number') %></span></b>
      <%= @seller.number %>
    </div>
    <div class="form-group form-check">
     <b><span><%= t('.complement') %></span></b>
      <%= @seller.complement %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.district') %></span></b>
      <%= @seller.district %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.city') %></span></b>
      <%= @seller.city %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.state') %></span></b>
      <%= @seller.state %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.postal_code') %></span></b>
      <%= @seller.postal_code %>
    </div>
    <br>
    <div>
      <h4 class="form-subtitle">
        <%= t('.subtitle.contact') %>
      </h4>
    </div>
    <hr>
    <div class="form-group form-check">
      <b><span><%= t('.email') %></span></b>
      <%= @seller.email %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.cellphone') %></span></b>
      <%= @seller.cellphone %>
    </div>
    <div class="form-group form-check">
      <b><span><%= t('.linkedin_url') %></span></b>
      <%= @seller.linkedin %>
    </div>
    <hr>

    <%= link_to t('.edit_personal_informations_btn'),
                  dashboards_representantes_informacoes_pessoais_cadastro_editar_path,
                  class: 'btn btn-primary short-fields' %>
    <br>
    <br>
    <br>
  </div>
</div>
<%= render './././partials/footer' %>
