@media screen and (max-width: 768px) {
  #rating h3 {
    color: #ffff00;
  }

  #driver-image img {
    width: 75%;
    height: 75%;
  }

  #transmission {
    text-align: center;
  }

    #transmission video {
      width: 320px;
      height: 240px;
    }

  #interaction {
    margin-top: 20px;
    text-align: center;
  }

  #camera-login {
    position: absolute;
    margin-top: 65px;
  }

 #camera-dashboard,
 #camera-transmission,
 #camera-qrcode {
    top: 30px;
  }

  .dashboard-logout {
    text-align: right;
  }
    .dashboard-logout a {
      text-decoration: none;
    }

  .dashboard-icon {
    margin-top: 50px;
    text-align: center;
  }

  .dashboard-button-image {
    width: 30px;
    height: 30px;
  }

  .dashboard-icon-image {
    width: 150px;
    height: 150px;
  }

  .qrcode {
    text-align: center;
  }

  .dashboard-button-image {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 769px) {
  #rating h3 {
    color: #ffff00;
  }

  #driver-image img {
    width: 35%;
    height: 35%;
  }

  #transmission {
    text-align: center;
  }

    #transmission video {
      width: 100%;
      height: 100%;
    }

  #interaction {
    margin-top: 20px;
    text-align: center;
  }

  #camera-login {
    position: absolute;
    margin-top: 120px;
  }

  #camera-dashboard,
  #camera-transmission,
  #camera-qrcode {
    position: absolute;
    margin-top: 90px;
  }

  .dashboard-logout {
    text-align: right;
  }

  .dashboard-logout-link {
    text-decoration: none !important;
    color: #fff;
  }
    .dashboard-logout-link:hover {
      color: #ccc;
    }

  .dashboard-icon {
    margin-top: 50px;
    text-align: center;
  }

  .dashboard-icon-image {
    width: 150px;
    height: 150px;
  }

  .qrcode {
    text-align: center;
  }

  .dashboard-button-image {
    width: 100px;
    height: 100px;
    margin: 0px 0px 50px 40px;
  }
}
