<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './partials/messages' %>
  <br><br><br>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.dashboard'), dashboards_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.subscribers.tickets') %>
      </li>
    </ol>
  </nav>
  <%= link_to t('.new_ticket_btn'), dashboards_assinantes_chamados_novo_path, class: 'btn btn-default' %>
  <br><br>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#opened_tickets"><%= t('.opened_tickets') %></a></li>
    <li><a data-toggle="tab" href="#pendent_tickets"><%= t('.pendent_tickets') %></a></li>
    <li><a data-toggle="tab" href="#finished_tickets"><%= t('.finished_tickets') %></a></li>
  </ul>
  <% # TODO Recriar número dos chamados seguindo o padrão <cod_subscriber-número_do_chamado> %>
  <div class="tab-content">
    <div id="opened_tickets" class="tab-pane fade in active">
      <h3><%= t('.opened_tickets') %></h3>
      <%= render './partials/ticket_table', tickets: @opened, type: Ticket::GROUPS[:opened] %>
    </div>
    <div id="pendent_tickets" class="tab-pane fade">
      <h3><%= t('.pendent_tickets') %></h3>
      <%= render './partials/ticket_table', tickets: @in_treatment, type: Ticket::GROUPS[:in_treatment] %>
    </div>
    <div id="finished_tickets" class="tab-pane fade">
      <h3><%= t('.finished_tickets') %></h3>
      <%= render'./partials/ticket_table', tickets: @finished, type: Ticket::GROUPS[:finished] %>
    </div>
  </div>
</div>
<% # TODO Inserir paginação nas listas de chamados %>
<%= render './././partials/footer' %>
