<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './partials/messages' %>
  <br><br><br>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.dashboard'), dashboards_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.tickets'), dashboards_assinantes_chamados_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.subscribers.new') %>
      </li>
    </ol>
  </nav>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <%= form_with scope: 'ticket', url: dashboards_assinantes_chamados_create_path do |f| %>
      <div>
        <h4 class="form-subtitle">
          <%= t('.new_ticket') %>
        </h4>
      </div>
      <hr>
      <div class="form-group">
        <label><%= t('.department') %></label>
        <br>
        <%= f.select :department,
                     options_for_select(Ticket::ALLOWED_DEPARTMENTS.sort),
                     { include_blank: ''},
                     class: 'form-control medium-fields',
                     required: true %>
      </div>
      <div class="form-group form-check">
        <label><%= t('.subject') %></label>
          <%= f.text_field :subject,
                           class: 'form-control' %>
      </div>
      <div class="form-group">
        <label><%= t('.comment') %></label>
        <br>
        <%= f.text_area :comment,
                        class: 'form-control',
                        rows: 10,
                        required: true %>
      </div>
      <div class="form-group form-check">
        <label><%= t('.attachment_warning') %></label>
        <%= f.file_field :image,
                         accept: Comment::ALLOWED_ATTACHMENT_TYPE_LIST.join(','),
                         class: 'medium-fields',
                         multiple: false %>
      </div>
      <%= f.hidden_field :author, value: @subscriber.name %>
      <%= f.submit t('.send_ticket_btn'),
                   class: 'btn btn-primary short-fields' %>
    <% end %>
  </div>
</div>
