<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './partials/messages' %>
  <br><br><br>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.dashboard'), dashboards_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.tickets'), dashboards_assinantes_chamados_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.subscribers.details') %>
      </li>
    </ol>
  </nav>
  <h3><%= @ticket.subject %></h3>
  <hr>
  <p class="ticket-label"><strong><%= t('.created_at') %></strong><%= convert_date(@ticket.created_at) %></p>
  <p class="ticket-label"><strong><%= t('.status') %></strong><%= @ticket.status %></p>
  <hr>
  <% @ticket.comments.each do |comment| %>
    <div class="comments">
      <p><strong><%= t('.author') %></strong><%= comment.author %></p>
      <p><strong><%= t('.created_at') %></strong><%= convert_date(comment.created_at) %></p>
      <p><strong><%= t('.comment') %></strong><%= comment.content %></p><p>
      <% if comment.image.attached? %>
        <p><%= image_tag url_for(comment.image) %></p>
      <% end %>
      <hr>
    </div>
  <% end %>
  <% if @ticket.finished? %>
    <%= link_to t('.reopen'), edit_ticket_path(@ticket.id, type: 'finished'), class: 'btn btn-default' %>
  <% end %>
</div>
<%= render './././partials/footer' %>
