<%= render './partials/header' %>
<div class="vertical-center">
  <div class="container">
    <div class='col-lg-7 col-lg-offset-4 col-md-7 col-md-offset-4 col-sm-7 col-sm-offset-2 col-xs-12'>
      <%= render './partials/messages' %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to t('breadcrumbs.forgot_my_password.login'), login_representantes_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= t('breadcrumbs.forgot_my_password.forgot_my_password') %></li>
        </ol>
     </nav>
     <h3><%= t('.title') %></h3>
      <hr>
      <%= form_with scope: 'password', url: login_representantes_send_password_path do |f| %>
        <div class="form-group">
          <label><%= t('.cpf') %></label>
          <%= f.text_field :seller_document,
                           class: 'form-control medium-fields',
                           required: true %>
        </div>
        <br>
        <%= f.submit t('.send_password_btn'),
                       class: 'btn btn-primary short-fields' %>
      <% end %>
    </div>
  </div>
</div>
