<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './partials/messages' %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.dashboard'), dashboards_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.subscribers.informations') %>
      </li>
    </ol>
  </nav>
<section id="access_buttons">
  <div class="container space-between">
    <div>
        <%= link_to dashboards_assinantes_informacoes_pessoais_cadastro_path, title: t('.menu.register') do %>
        <%= image_tag 'register.svg' %>
      <% end %>
    </div>
    <div>
      <%= link_to dashboards_assinantes_informacoes_pessoais_documentos_path, title: t('.menu.documents') do %>
        <%= image_tag 'contract.svg' %>
      <% end %>
    </div>
    <div>
      <%= link_to dashboards_assinantes_angels_path, title: t('.menu.finance') do %>
        <%= image_tag 'finance.svg' %>
      <% end %>
    </div>
  </div>
</section>
</div>
<%= render './././partials/footer' %>
