<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './partials/messages' %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">                                                                                                                                                               
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.dashboard'), dashboards_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.informations'), dashboards_assinantes_informacoes_pessoais_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.register'), dashboards_assinantes_informacoes_pessoais_cadastro_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.subscribers.edit') %>
      </li>
    </ol>
  </nav>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <div class="alert alert-warning" role="alert">
      <p><%= t('.warning_message') %></p>
    </div>
    <h4>
     <b><%= "#{t('.subscriber_code')} #{@subscriber.code}" %></b>
    </h4>
    <hr>
    <%= form_with scope: @subscriber, url: dashboards_assinantes_informacoes_pessoais_cadastro_update_path, method: :put do |f| %>
      <div>
        <h4 class="form-subtitle">
          <%= t('.subtitle.address') %>
        </h4>
        <hr>
      </div>
      <div class="form-group">
        <label><%= t('.address') %></label>
        <%= f.text_field :address,
                         value: @subscriber.address,
                         class: 'form-control',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.number') %></label>
        <%= f.text_field :number,
                         value: @subscriber.number,
                         class: 'form-control short-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.complement') %></label>
        <%= f.text_field :complement,
                         value: @subscriber.complement,
                         class: 'form-control medium-fields' %>
      </div>
      <div class="form-group">
        <label><%= t('.district') %></label>
        <%= f.text_field :district,
                         value: @subscriber.district,
                         class: 'form-control medium-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.city') %></label>
        <%= f.text_field :city,
                         value: @subscriber.city,
                         class: 'form-control medium-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.state') %></label>
        <br>
        <%= f.select :state,
                     options_for_select(States.all_names,
                                        selected: @subscriber.state),
                     {},
                     class: 'form-control medium-fields',
                     required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.postal_code') %></label>
        <%= f.text_field :postal_code,
                         value: @subscriber.postal_code,
                         class: 'form-control short-fields',
                         required: true,
                         id: 'edit_subscriber_postal_code' %>
      </div>
      <br>
      <div>
        <h4 class="form-subtitle">
          <%= t('.subtitle.contact') %>
        </h4>
      </div>
      <hr>
      <div class="form-group">
        <label><%= t('.email') %></label>
        <%= f.text_field :email,
                         value: @subscriber.email,
                         class: 'form-control',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.telephone') %></label>
        <%= f.text_field :telephone,
                         value: @subscriber.telephone,
                         class: 'form-control medium-fields',
                         required: true,
                         id: 'edit_subscriber_telephone' %>
      </div>
      <div class="form-group">
        <label><%= t('.cellphone') %></label>
        <%= f.text_field :cellphone,
                         value: @subscriber.cellphone,
                         class: 'form-control medium-fields',
                         required: true,
                         id: 'edit_subscriber_cellphone' %>
      </div>
      <br>
      <%= f.submit t('.update_data_btn'),
                   class: 'btn btn-primary small-fields' %>
    <% end %>
    <br><br>
  </div>
</div>
<%= render './././partials/footer' %>
