<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<%= render './partials/messages' %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to t('breadcrumbs.dashboards.selleres.login'), login_representantes_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to t('breadcrumbs.dashboards.sellers.dashboard'), dashboards_representantes_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= link_to t('breadcrumbs.dashboards.sellers.finance'), dashboards_representantes_financeiro_path %>                                                                               
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= t('breadcrumbs.dashboards.sellers.receipts') %>
    </li>
  </ol>
</nav>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <h4>
      <b>
        <%= t('.seller_code') %>
        <%= @seller.code %>
      </b>
    </h4>
    <hr>
    <div>
      <h4 class="form-subtitle">
        <%= t('.subtitle.receipts') %>
      </h4>
    </div>
    <br>
    <%= form_with scope: 'receipt',
                  url: dashboards_representantes_financeiro_recibos_recibo_pagamento_autonomo_path(format: :pdf),
                  local: true do |f| %>
      <div class="form-group">
        <label><%= t('.reference_month') %></label>
        <br>
        <%= f.select :period,
                     options_for_select(@seller.receipts.reverse.pluck(:period)),
                     {},
                     class: 'form-control medium-fields',
                     required: true %>
      </div>
      <hr>
      <%= f.submit t('.generate_payment_receipt_btn'),
                   class: 'btn btn-primary small-fields' %>
    <% end %>
  </div>
</div>
<%= render './././partials/footer' %>
