<% icon_sizes = MANIFEST_CONFIG[:manifest][:icons][:sizes] %>

{
  "name": "<%= MANIFEST_CONFIG[:manifest][:name] %>",
  "short_name": "<%= MANIFEST_CONFIG[:manifest][:short_name] %>",
  "start_url": "<%= MANIFEST_CONFIG[:manifest][:start_url] %>",
  "icons": [
  <% icon_sizes.map { |s| "#{s}x#{s}" }.each.with_index do |dim, i| %>
    {
      "src": "<%= image_path MANIFEST_CONFIG[:manifest][:icons][:folder] + MANIFEST_CONFIG[:manifest][:icons][:file_prefix] + dim + MANIFEST_CONFIG[:manifest][:icons][:file_extension] %>",
      "sizes": "<%= dim %>",
      "type": "<%= MANIFEST_CONFIG[:manifest][:icons][:file_content_type] %>"
    }<%= i == (icon_sizes.length - 1) ? '' : ',' %>
  <% end %>
  ],
  "theme_color": "<%= MANIFEST_CONFIG[:manifest][:theme_color] %>",
  "background_color": "<%= MANIFEST_CONFIG[:manifest][:background_color] %>",
  "display": "<%= MANIFEST_CONFIG[:manifest][:display] %>",
  "orientation": "<%= MANIFEST_CONFIG[:manifest][:orientation] %>"
}
