<%= render './././partials/header' %>
<%= render './././partials/logout' %>
<div class="container-fluid">
  <%= render './partials/messages' %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('breadcrumbs.dashboards.subscribers.login'), login_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.dashboard'), dashboards_assinantes_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= link_to t('breadcrumbs.dashboards.subscribers.angels'), dashboards_assinantes_angels_path %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= t('breadcrumbs.dashboards.subscribers.edit') %>
      </li>
    </ol>
  </nav>
  <div class='col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12'>
    <h3>
     <b><%= t('.title') %></b>
    </h3>
    <hr>
    <%= form_with scope: @angel, url: dashboards_assinantes_angels_update_path(angel_id: @angel.id), method: :put do |f| %>
      <div class="form-group">
        <label><%= t('.name') %></label>
        <%= f.text_field :name,
                         value: @angel.name,
                         class: 'form-control',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.cpf') %></label>
        <%= f.text_field :cpf,
                         value: @angel.cpf,
                         class: 'form-control medium-fields',
                         required: true %>
      </div>
      <div class="form-group">
        <label><%= t('.status') %></label>
        <br>
        <%= f.select :status,
                     options_for_select([Status::STATUSES[:activated], Status::STATUSES[:deactivated]],
                                        selected: @angel.status),
                     {},
                     class: 'form-control medium-fields',
                     required: true %>
      </div>
      <br>
      <%= f.submit t('.update_data_btn'),
                   class: 'btn btn-primary small-fields' %>
    <% end %>
  </div>
</div>
<%= render './././partials/footer' %>
