/*
 *= require_tree .
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Ubuntu', 'sans-serif';

  /* background */
  background-image: image-url('background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

h3, h4, h5, label, p, span, small, thead {
  color: #fff;
}

thead {
  text-decoration: underline;
}

tr {
  color: #fff;
}

a {
  text-decoration: none;
}
  a:hover {
    color: #00ffff;
  }

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
}

footer small {
  font-style: italic;
}

footer small a { 
  text-decoration: underline;
  color: #fff;
}
  footer small a:hover {
    color: #ccc;
  }

#logotype {
  position: absolute;
  z-index: 1;
  margin-top: -20px;
}
  #logotype img {
    height: 11%;
    width: 11%;
  }

#header {
  z-index: 1000;
  position: fixed;
  width: 100vw;
  margin-top: -10px;
  margin-bottom: 1px;
  background-color: #000;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}

.breadcrumb {
  background-color: #6c6c93;
}
  .breadcrumb > .active {
    color: #fff;
  }
  .breadcrumb-item a {
    font-weight: bold;
    color: #fff; 
  }

.form-group {
  color: #fff;
}

.medium-fields {
  width: 300px;
}

.short-fields {
  width: 200px;
}

.observation-fields {
  font-size: 12px;
}

.hidden-messages {
  display: none;
}

.error-messages {
  font-size: 12px;
  font-weight: bold;
  color: #ff0000;
}

.success-messages {
  font-size: 12px;
  font-weight: bold;
  color: #00af00;
}

.center-text {
  text-align: center;
}

.justified-text {
 text-align: justify;
}

.right-text {
 text-align: right;
}

.small-text {
  font-size: 12px;
  color: #fff;
}

.small-links {
  font-size: 12px;
}

.small-links:hover {
  color: #fff;
  text-decoration: none;
}

.centered-message {
  text-align: 'center';
}

.pagination {
  text-decoration: none;
  color: #fff;
}
