@media screen and (max-width: 768px) {
  .minor-label {
    font-size: x-small;
  }

  .little-label {
    font-size: small;
  }

  .activated-step {
    border: 1px solid #6c6c93;
    background-color: #6c6c93;
  }

  .deactivated-step {
    opacity: 0.8;
    border: 1px solid #ccc;
    background-color: #ccc;
  }

  .credit-card-logo {
    margin-right: 20px;
    width: 10%;
  }

  .arrow {
    position: relative;
    top: 10px;
  }

  .valid_seller_cpf_message {
    color: #8bc48c;
  }

  .invalid_seller_cpf_message {
    color: #ff6262;
  }

  #information_rule {
    margin-top: 30px;
  }

  #information_rule ul {
    list-style: none;
  }

  #information_rule ul li {
    display: inline;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
  }

  #information_rule ul li span {
    color: #fff;
  }

  #actions_buttons {
    text-align: left;
  }
    #actions_buttons button {
      margin: 10px 0px 10px 0px;
    }

  #subscriber_form form div input {
    margin-right: 10px;
  }

  #success_message h3, p {
    color: #3c763d !important;
  }

  #resume p {
    color: #fff !important;
  }

  #payment p {
    color: #fff !important;
  }
}

@media screen and (min-width: 769px) {
  .minor-label {
    font-size: x-small;
  }

  .little-label {
    font-size: small;
  }

  .activated-step {
    border: 1px solid #6c6c93;
    background-color: #6c6c93;
  }

  .deactivated-step {
    opacity: 0.8;
    border: 1px solid #ccc;
    background-color: #ccc;
  }

  .credit-card-logo {
    margin-right: 20px;
    width: 10%;
  }

  .arrow {
    position: relative;
    top: 10px;
  }

  .valid_seller_cpf_message {
    color: #8bc48c;
  }

  .invalid_seller_cpf_message {                                                                                                                                                           
    color: #ff6262;
  }

  #information_rule {
    margin-top: 30px;
  }

  #information_rule ul {
    list-style: none;
  }

  #information_rule ul li {
    margin-right: 15px;
    display: inline;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
  }

  #information_rule ul li span {
    color: #fff;
  }

  #actions_buttons {
    text-align: left;
  }

  #success_message h3, p {
    color: #3c763d !important;
  }

  #resume p {
    color: #fff !important;
  }

  #payment p {
    color: #fff !important;
  }
}
