@media screen and (max-width: 768px) {
  #main_phrase {
    z-index: 1;
    position: absolute;
    margin: 80px 0px 0px 25px;
    text-align: center;
  }
    #main_phrase h1 {
      margin: 0 auto;
      font-size: 15px;
      color: #fff;
    }

  #logo {
    margin-top: 20px;
    width: 200px;
    display: inline-block;
  }

    #logo img {
      margin: -30px 0px -30px 10px;
      width: 10%;
    }

  #main {
    background-color: #fff;
  }

  #menu {
    display: inline-block;
  }
    #menu ul {
      list-style: none;
      margin-left: 10px;
    }
      #menu ul li {
        display: inline;
        padding-right: 5px !important;
      }
        #menu ul li a {
          display: inline-block;
          padding:  10px 5px;
          background-color: transparent;
          text-decoration: none;
          font-size: 10px;
          color: #fff;
        }
          #menu ul li a:hover {
            background-color: transparent;
            color: #ffff00;
          }
        #menu ul li div {
          margin-left: 30px;
          background-color: #000;
          opacity: 0.5;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
          filter: alpha(opacity=50);
          -moz-opacity: 0.5;
          -khtml-opacity: 0.5;
          text-decoration: none;
          color: #fff;
        }
          #menu ul li div a i{
            font-size: 18px;
          }

  #home {
    top: 0px;
    position: relative;
  }

  #home img {
    z-index: -1000;
    width: 100vw;
    filter: brightness(50%);
  }

  #home h1 {
    top: -420px;
    position: relative;
    text-align: center;
    font-size: 50px;
    color: #fff;
  }

  #company, #subscribe_now {
    background-color: #fff;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
  }
    #company h1, #benefits h1, #subscribe_now h1, #jobs h1 {
      text-align: center;
      color: #7e7e7e;
      font-style: normal;
      font-weight: 200;
      font-size: 30px;
    }
    #company p, #jobs p {
      padding: 30px 30px 0px 30px;
      text-align: center;
      font-size: 15px;
      color: #7e7e7e;
    }
    #company a {
      visibility: hidden;
      position: relative;
    }
      #company a:after {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 30px;
        content: "Monitor da violência - G1";
      }

  #violence_chart {
    display: none !important;
  }

  #benefits, #jobs {
    background-color: #f2f2f2;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
  }
    #benefits table {
      margin: 0 auto;
      width: 80%;
    }
      #benefits table th {
        text-align: center;
        text-decoration: underline;
        font-size: 15px;
        color: #7e7e7e;
      }
        #benefits table tr td {
          text-align: center;
          font-size: 15px;
          color: #7e7e7e;
        }
          #benefits table tr td img {
            width: 30px;
            height: 30px;
          }

  #subscribe_now a {
    text-decoration: none;
  }

  #subscribe_now div {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    #subscribe_now h2 span {
      color: #7e7e7e;
    }
    #subscribe_now div div {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10px;
    }
      #subscribe_now div div:nth-child(2) {
        margin-left: 50px;
        margin-right: 50px;
      }
      #subscriber_now div div div {
        flex: 1;
      }

  #footer {
    background-color: #333;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
  }
    #footer span {
      margin-left: 40px;
      font-size: 20px;
      color: #fff;
    }

  .plan_name {
    text-align: center;
    text-decoration: underline;
    color: #7e7e7e;
  }

  .old_price {
    position: relative;
    font-variant: small-caps;
    font-size: 15px;
    color: #000;
  }
    .old_price::after {
    border-bottom: 2px solid red;
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
  }

  .line_through {
    color: #ff0000;
    text-decoration:line-through;
  }

  .current_price {
    margin-top: -20px;
    margin-bottom: 10px;
  }
    .current_price span {
      font-weight: bold;
      color: #00acc8;
    }
      .current_price span sup {
        font-size: 16px;
      }
      .current_price span span {
        font-size: 50px;
      }

  .periodicity {
    font-size: 14px;
    color: #7e7e7e;
  }

  .hire {
    width: 200px;
    background-color: #f19100;
    padding: 5px;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
  }
    .hire:hover {
      background-color: #d45500;
    }

  .features span {
    line-height: 30px;
    font-variant: small-caps;
    font-weight: bold;
    color: #7e7e7e;
  }

  .social_medias {
    margin-left: 40px;
    margin-bottom: 20px;
  }
    .social_medias a {
      width: 70px;
      text-decoration: none;
    }
      .social_medias a:hover{
        text-decoration: none;
      }
      .social_medias a img {
        width: 8%;
      }

  .payment_methods {
    margin-left: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
  }

  .payment_methods_logo {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }

  .contract_link {
    margin-left: 40px;
    font-size: 20px;
  }
    .contract_link a {
      text-decoration: underline;
      font-size: 20px;
      color: #fff;
    }
      .contract_link a:hover {
        color: #fff;
      }

  .company_info {
    margin: 60px 40px 40px 40px;
    text-align: justify;
  }
    .company_info p {
      font-size: 10px;
      color: #fff !important;
    }

  .sources_btn {
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #fff !important;

  }

  .sources_title {
    font-size: 20px;
    font-weight: bold;
  }

  .jobs_lnk {
    width: 300px;
    background-color: #ff0000;
    padding: 10px;
    font-variant: small-caps;
    font-size: 20px;
    color: #fff;
  }
    .jobs_lnk:hover {
      background-color: #b30000;
      text-decoration: none;
      color: #fff;
    }

  .jobs_contract_lnk {
    font-size: 14px;
  }
    .jobs_contract_lnk:hover {
      text-decoration: none;
      color: #3c763d;
    }
}

@media screen and (min-width: 769px) {
  #main_phrase {
    z-index: 1;
    position: absolute;
    margin: 250px 0px 0px 50px;
    text-align: center !important;
  }
    #main_phrase h1 {
      margin: 0 auto;
      font-size: 50px;
      color: #fff;
    }

  #logo {
    width: 200px;
    display: inline-block;
  }

    #logo img {
      margin: 20px 20px 10px 50px;
      width: 25%;
    }

  #main {
    background-color: #fff;
  }

  #menu {
    display: inline-block;
  }
    #menu ul {
      list-style: none;
    }
      #menu ul li {
        display: inline;
        padding-right: 20px;
      }
        #menu ul li a {
          display: inline-block;
          background-color: transparent;
          text-decoration: none;
          font-size: 20px;
          color: #fff;
        }
          #menu ul li a:hover {
            background-color: transparent;
            color: #ffff00;
          }
        #menu ul li div {
          margin-left: 30px;
          background-color: #000;
          opacity: 0.5;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
          filter: alpha(opacity=50);
          -moz-opacity: 0.5;
          -khtml-opacity: 0.5;
          text-decoration: none;
          color: #fff;
        }
          #menu ul li div a i{
            font-size: 18px;
          }

  #home {
    top: 0px;
    position: relative;
    padding-bottom: 30px;
  }

  #home img {
    z-index: -1000;
    width: 100vw;
    filter: brightness(50%);
  }

  #home h1 {
    top: -420px;
    position: relative;
    text-align: center;
    font-size: 50px;
    color: #fff;
  }

  #company, #subscribe_now {
    background-color: #fff;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
  }
    #company h1, #benefits h1, #subscribe_now h1, #jobs h1 {
      text-align: center;
      color: #7e7e7e;
      font-style: normal;
      font-weight: 200;
      font-size: 50px;
    }
    #company p, #jobs p {
      padding: 30px 300px 0px 300px;
      text-align: center;
      font-size: 30px;
      color: #7e7e7e;
    }
    #company a {
      margin-left: 50px;
    }

  #benefits, #jobs {
    background-color: #f2f2f2;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
  }
    #benefits table {
      margin: 0 auto;
      width: 80%;
    }
      #benefits table th {
        text-align: center;
        text-decoration: underline;
        font-size: 20px;
        color: #7e7e7e;
      }
        #benefits table tr td {
          text-align: center;
          font-size: 20px;
          color: #7e7e7e;
        }
          #benefits table tr td img {
            width: 20px;
            height: 20px;
          }

  #subscribe_now a {
    text-decoration: none;
  }
  #subscribe_now div {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
    #subscribe_now h2 span {
      color: #7e7e7e;
    }
    #subscribe_now div div {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 10px;
    }
      #subscribe_now div div:nth-child(2) {
        margin-left: 50px;
        margin-right: 50px;
      }
      #subscriber_now div div div {
        flex: 1;
      }

  #footer {
    background-color: #333;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
  }
    #footer span {
      margin-left: 40px;
      font-size: 25px;
      color: #fff;
    }

  .plan_name {
    text-align: center;
    text-decoration: underline;
    color: #7e7e7e;
  }

  .old_price {
    position: relative;
    font-variant: small-caps;
    font-size: 20px;
    color: #000;
  }
    .old_price::after {
    border-bottom: 2px solid red;
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
  }

  .line_through {
    color: #ff0000;
    text-decoration:line-through;
  }

  .current_price {
    margin-top: -20px;
    margin-bottom: 10px;
  }
    .current_price span {
      font-weight: bold;
      color: #00acc8;
    }
      .current_price span sup {
        font-size: 16px;
      }
      .current_price span span {
        font-size: 50px;
      }

  .periodicity {
    font-size: 14px;
    color: #7e7e7e;
  }

  .hire {
    width: 200px;
    background-color: #f19100;
    padding: 5px;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
  }
    .hire:hover {
      background-color: #d45500;
    }

  .features span {
    line-height: 30px;
    font-variant: small-caps;
    font-weight: bold;
    color: #7e7e7e;
  }

  .social_medias {
    margin-left: 40px;
    margin-bottom: 20px;
  }
    .social_medias a {
      width: 70px;
      text-decoration: none;
    }
      .social_medias a:hover{
        text-decoration: none;
      }
      .social_medias a img {
        width: 2%;
      }

  .payment_methods {
    margin-left: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
  }

  .payment_methods_logo {
    margin-right: 20px;
    width: 70px;
    height: 70px;
  }

  .contract_link {
    margin-left: 40px;
    font-size: 25px;
  }
    .contract_link a {
      text-decoration: underline;
      font-size: 25px;
      color: #fff;
    }
      .contract_link a:hover {
        color: #fff;
      }

  .company_info {
    margin: 60px 40px 40px 0px;
    text-align: right;
  }
    .company_info p {
      font-size: 10px;
      color: #fff !important;
    }

  .sources_btn {
    float: right;
    margin-right: 30px;
    font-size: 12px;
    color: #fff !important;
  }

  .sources_title {
    font-size: 20px;
    font-weight: bold;
  }

  .jobs_lnk {
    width: 300px;
    background-color: #ff0000;
    padding: 10px;
    font-variant: small-caps;
    font-size: 20px;
    color: #fff;
  }
    .jobs_lnk:hover {
      background-color: #b30000;
      text-decoration: none;
      color: #fff;
    }

  .jobs_contract_lnk {
    font-size: 14px;
  }
    .jobs_contract_lnk:hover {
      text-decoration: none;
      color: #3c763d;
    }
}
