@media screen and (max-width: 768px) {
  #orders {
    font-size: 10px;
  }

  .order-labels {
    font-size: 10px;
  }

  .refused {
    color: #ff3b3b;
  }

  .pendent {
    color: #ffff00;
  }

  .approved {
    color: #00ff00;
  }
}

@media screen and (min-width: 769px) {
  #orders {
    font-size: 12px;
  }

  .order-labels {
    font-size: 12px;
  }

  .refused {
    color: #ff3b3b;
  }

  .pendent {
    color: #ffff00;
  }

  .approved {
    color: #00ff00;
  }
}
