.comments {
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
  font-size: small;
  color: #ffff00;
}
  .comments p {
    padding-left: 20px;
    padding-right: 20px;
    color: #fff !important;
  }

.label {
  color: #00ffff;
}

.ticket-label {
  color: #fff !important;
}
