@media screen and (max-width: 768px) {
  .photos {
    width: 90%;
    border: 1px solid #fff;
  }
}

@media screen and (min-width: 769px) {
  .photos {
    width: 90%;
    border: 1px solid #fff;
  }
}
