<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title><%= t('documents.subscriber.distract.title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= wicked_pdf_stylesheet_link_tag '' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
